@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background: #d8d8d8;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #cc0000;
  color: #ffd700;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 4px solid #000;
}

.footer {
  background-color: #cc0000;
  color: #ffd700;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  border-top: 4px solid #000;
}

.card {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.gallery {
  display: grid;
  padding: 0.5rem;
  gap: 0.25rem;
  margin: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.gallery figure {
  padding: 0.5rem;               /* halb so groß wie das gap */
  margin: 0;
  background-color: #d8d8d8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img {
  width: 100%;       /* skaliert auf volle Breite des Containers */
  height: auto;      /* behält Seitenverhältnis */
  max-width: 15rem;    /* Begrenzung auf 5cm Breite */
  border-radius: 8px;
  display: block;
}

.gallery figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #333;
}