@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700;800&display=swap');
/*@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/SourceCodePro-Regular.ttf") format("ttf"),
}*/

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro';
  background: #d8d8d8;
}

button {
  font-family: 'Source Code Pro';
}

/* Wenn nach der ersten Zeile ein Einzug dargestellt werden soll*/
.hanging-indent { 
  padding-left: 40px;
  text-indent: -40px;
}

p {
  hyphens: auto;
}

body {
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  display: block;
  flex-direction: column;
  position: static;
}

.content {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 80ch;
  margin: 0 auto auto auto;
  overflow: auto;
}

img {
  max-width: 100% !important;
}

figure > img {
  display: block;
  margin: 1em auto;
  margin-bottom: 0.2rem;
}

figcaption {
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}


h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

small {
  font-size: 0.6rem;
  font-weight: normal;
}

.card {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.header {
  background-color: #cc0000;
  color: #ffd700;
  border-bottom: solid 4px #000000;
  font-style: italic;
  font-weight: bold;
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: 100vw;
  top: 0;
  white-space: break-spaces;
}

.leftcolumn {
  float: left;
  width: 62%;
}

.rightcolumn {
  float: left;
  width: 38%;
  padding-left: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #cc0000;
  border-top: solid 4px #000000;
  color: #ffd700;
  /*margin: 20px;*/
}

@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
